body{
    background-color: #c2c2c2;
    margin: 0;
    font-family: arial, sans-serif;
}
#header-one{
    background-image: url(../imagens/bg-2.jpg);
    background-size: cover;
    background-position:right center;
    height: 315px;
    padding-top: 1px;
}
#header-one nav ul{
    text-align: right;
    margin:15px 15px 0 0;
}


#header-one nav li{
    display: inline-block;
    list-style: none;
    border: 1px solid white;
    margin-left: 8px;
    
    
    
    
    
}
#header-one nav a{
    display:block;
    background-color:rgba(0, 0, 0, 0.25);
    color:white;
    text-decoration: none;
    font-size: 8px;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 2px;
}

#header-one nav a:hover{
    background-color:rgb(80, 80, 80);
}

#title{
    text-align:center;
    color: #fff;
    margin-top: 4%;
}
#title h1{
    font-family: 'Bebas Neue', cursive;
    /* text-transform: uppercase; */
    text-shadow: 1px 1px 5px black;
    font-size: 50px;
    letter-spacing: 4px;
    margin:auto;
}
#title p{
    background-color: rgba(0, 0, 0, 0.308);
    width: 265px;
    padding:8px;
    box-sizing: border-box;
    margin:4% auto auto;
    border-bottom: solid 1px #fff;
}

main{
    width:85%;
    margin:auto;
}

.content-section{
    background-color: #fff;
    padding: 10px;
    margin-top: 10PX;
    overflow: auto;
}

.content-section div img{
    width: 100%;
    display: block;
}
.content-section div{
    width: 32%;
    float: left;
    box-sizing: border-box;

}

#card-one, #card-two{
    margin-right: 2%;
}

.content-section div p{
    background-color: #343434;  
    color: white;
    letter-spacing: 2px;
    font-size: 9px;
    text-transform: uppercase;
    margin: auto;
    padding: 10px;
}
.content-section h2{
    background-color:#c9c9c9ea;
    padding: 5px;
    box-sizing: border-box;
    margin: auto;
    border-bottom: solid 1px #818181e7;

}

footer{
    background-color: #818181e7;
    color: #fff;
    font-size: 12px;
    text-align: center;
    height: 40px;
    margin-top: 10px;
    /* padding: 10px; */
    line-height: 40px;
    text-shadow: 2px 1px 2px black;
}